@font-face {
    font-family: whitney;
    src: url("/whitney-light.otf") format("opentype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: whitney;
    src: url("/whitney-book.otf") format("opentype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: whitney;
    src: url("/whitney-medium.otf") format("opentype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: whitney;
    src: url("/whitney-semibold.otf") format("opentype");
    font-style: normal;
    font-weight: 700;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: whitney;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: radial-gradient(#7289da, rgb(54, 57, 63));
    color: white;
    margin-bottom: 60px;
    font-size: 1rem;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 128px;
    height: 128px;
    margin-top: -64px;
    /* Half the height */
    margin-left: -64px;
    /* Half the width */
    animation: spin 3.3s;
    z-index: -1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(360deg);
    }
    40% {
        transform: rotate(720deg);
    }
    60% {
        transform: rotate(1080deg);
    }
    80% {
        transform: rotate(1440deg);
    }
    100% {
        transform: translateY(-1000px);
        transform: scale(0, 0);
    }
}

.loading {
    background-color: #000000;
    animation: fadeAnimation 5s;
    margin: 0;
    height: 100%;
    width: 100%;
}

@keyframes fadeAnimation {
    from {
        opacity: 1;
        display: 'block'
    }
    to {
        opacity: 0;
        display: none;
    }
}

.user-profile-card {
    min-width: 275;
    max-width: 400;
    margin: 15% 25%;
}

.user-card-content {
    text-align: center;
    align-items: center;
}

.user-profile-pic-holder {
    text-align: center;
    margin: auto auto;
    width: 25%;
    height: 25%;
    border: 1px solid gray;
    border-radius: 60%;
    /* background-color: red; */
}

.user-profile-pic {
    margin: auto auto;
    width: 45%;
    height: auto;
}

.btn-container {
    justify-content: center;
    text-align: center;
}