html,
body {
    height: 100%;
    margin: 0px;
}

.dbWrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.dbHeader {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 34, 37);
    height: 32px;
}

.dbMainContent {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 34, 37);
    width: 100%;
    height: calc(100% - 32px);
    display: flex;
    flex-flow: row nowrap;
}

.dbGroupIconList {
    margin: 0;
    padding: 0;
    width: 107px;
    background-color: rgb(32, 34, 37);
    height: 100%;
}

.dbChannelCol {
    margin: 0;
    padding: 0;
    background-color: rgb(47, 49, 54);
    width: 360px;
    border-radius: 13px 0 0 0;
    display: flex;
    flex-flow: column nowrap;
}

.dbColHeader {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid rgb(32, 34, 37);
    flex-shrink: 0;
}

.dbChannelCol .dbColHeader {
    border-radius: 10px 0 0 0;
}

.dbGroupName {
    margin: 20px 0 25px 25px;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.dbChannelList {
    margin: 0;
    margin-right: 3px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.dbChannelList::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

.dbChannelList:hover::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(32, 34, 37);
}

.dbChannelList ul{
    margin: 0;
    margin-right: 3px;
    padding: 0;
}

.dbChannelListItem {
    margin: 3px 0px 3px 0px;
    padding: 0;
    list-style-type: none;
    height: 48px;
}

.dbChannel {
    margin: 0;
    margin-left: 12px;
    padding: 0;
    border-radius: 5px;
    height: 100%;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgb(114, 118, 125);
}

.dbChannelListItem:hover .dbChannel{
    background-color: rgb(52, 55, 60);
}

.dbChannelIcon {
    margin: 0;
    padding: 0;
    width: 51px;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.dbChannelName {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: 500;
}

.dbChannel:hover .dbChannelName {
    color:white;
}

.dbUserInfo {
    margin: 0;
    margin-top: auto;
    padding: 0;
    width: 100%;
    background-color: rgb(41, 43, 47);
    height: 80px;
    border-top: 3px solid rgb(54, 55, 59);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-shrink: 0;
}

.dbUserImg {
    margin: 0;
    padding: 0;
    width: 72px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dbUserImg img {
    margin: 11px;
    padding: 0;
    width: 50px;
    height: 50px;
}

.dbUsername {
    margin: 0;
    padding: 0;
    font-weight: 500;
}

.dbMessagesCol {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 57, 63);
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

.dbCurrentChannel {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: 500;
}

.dbCurrentChannel .dbChannelIcon {
    margin-left: 20px;
    margin-right: 10px;
    color: rgb(114, 118, 125);
    font-size: 2.75rem;
}

.dbChannelName {
    white-space:nowrap;
}

.dbChannelDesc {
    margin: 0;
    margin-left: 20px;
    padding: 5px 0px 5px 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.2rem;
    border-left: 2px solid rgb(66, 69, 74);
    color: rgb(185, 185, 190);
    white-space:nowrap;
}

.dbMsgList {
    margin: 0;
    margin-right: 6px;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.dbMsgList::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(46, 51, 56);
    border-radius: 12px;
}

.dbMsgList::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(32, 34, 37);
}

.dbMsgList ul {
    margin: 0;
    padding: 0;
    margin-top: auto;
}

.dbMsgListItem {
    margin: 0;
    margin-bottom: 25px;
    margin-right: 6px;
    padding: 0;
    list-style-type: none;
    height: fit-content;
}

.dbMsgListItem:hover {
    background-color: rgb(50, 53, 59);
}

.dbMessage {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
    min-height: 72px;
}

.dbMsgImg {
    margin: 0;
    padding: 0;
    width: 108px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.dbMsgImg img {
    margin: 0px;
    padding: 0px;
    width: 61px;
    height: 61px;
}

.dbMsgContentWrap {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

.dbMsgInfo {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 34px;
    display: flex;
    flex-flow: row nowrap;
}

.dbMsgName {
    margin: 0;
    margin-top: auto;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.dbMsgTime {
    margin: 0;
    margin-top: auto;
    margin-left: 15px;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(114, 118, 125);
    line-height: 1.7rem;
}

.dbMsgContent {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: 400;
    color: rgb(220, 221, 222);
}

.dbSubmitMsg {
    margin: 0 25px 36px 25px;
    padding: 0;
    margin-bottom: 36px;
    height: 66px;
    background-color: rgb(64, 68, 75);
    border-radius: 8px;
    flex-shrink: 0;
}

.dbUsersCol {
    margin: 0;
    padding: 0;
    width: 360px;
    background-color: rgb(47, 49, 54);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.dbUsersCol .dbColHeader {
    background-color: rgb(54, 57, 63);
}

.dbUserList {
    margin: 0;
    margin-right: 3px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.dbUserList::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

.dbUserList:hover::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(32, 34, 37);
}

.dbUserList ul{
    margin: 0;
    margin-right: 3px;
    padding: 0;
}

.dbUserListItem {
    margin: 3px 0px 3px 0px;
    padding: 0;
    list-style-type: none;
    height: 63px;
}

.dbUser {
    margin: 0;
    margin-left: 12px;
    padding: 0;
    border-radius: 5px;
    height: 100%;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgb(114, 118, 125);
}

.dbUserListItem:hover .dbUser{
    background-color: rgb(52, 55, 60);
}

.dbUser .dbUserImg {
    margin: 0;
    padding: 0;
    width: 72px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dbUserImg img {
    margin: 11px;
    padding: 0;
    width: 48px;
    height: 48px;
}


.dbUserName {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 1.4rem;
    font-weight: 500;
}