html,
body {
    height: 100%;
    margin: 0px;
    overflow-y: hidden;
}

.dbWrapper {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

.dbHeader, .dbAppname {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 34, 37);
    height: 32px;
}

.dbAppname {
    font-weight: 700;
    padding-left: 10px;
    font-size: 1.3rem;
}

.dbMainContent {
    margin: 0;
    padding: 0;
    background-color: rgb(32, 34, 37);
    width: 100%;
    height: calc(100% - 32px);
    display: flex;
    flex-flow: row nowrap;
}

.dbGroupCol {
    margin: 0;
    padding: 0;
    width: 107px;
    background-color: rgb(32, 34, 37);
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
}

.dbGroupHome {
    margin: 0;
    padding: 0;
    height: 90px;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-items: center;
    border-bottom: 3px solid rgb(45, 47, 50);
}

.dbGroupHomeImg {
    margin: auto;
    padding: 0;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: gray;
}

.dbGroupList {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.dbGroupList ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.dbGroupList li {
    margin: 0;
    margin-top: 12px;
    list-style-type: none;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dbGroup {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.dbGroupCurrent {
    box-shadow: 5px 0px 0 0 white inset;
}

.dbGroupList .dbGroupImg {
    margin: 0 auto 0 auto;
    padding: 0;
    list-style-type: none;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: grey;
    background-image: url("/logo.png");
    background-size: 100%;
    transition-property: border-radius;
    transition-duration: .1s;
}

.dbGroup:hover .dbGroupImg {
    border-radius: 20px;
}

.dbGroupCurrent .dbGroupImg{
    box-shadow: 5px 0px 0 0 white inset;
    border-radius: 20px;
}

.tooltip {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: max-content;
    max-width: 290px;
    min-height: 10px;
    padding: 18px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    left: 105%;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
}

.tooltiptext span {
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    margin: auto;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}
  
.dbGroup:hover .tooltiptext {
    visibility: visible;
}

.dbChannelCol {
    margin: 0;
    padding: 0;
    background-color: rgb(47, 49, 54);
    width: 360px;
    border-radius: 13px 0 0 0;
    display: flex;
    flex-flow: column nowrap;
}

.dbColHeader {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 72px;
    border-bottom: 1px solid rgb(32, 34, 37);
    flex-shrink: 0;
}

.dbChannelCol .dbColHeader {
    border-radius: 10px 0 0 0;
}

.dbGroupName {
    margin: 20px 0 25px 25px;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 700;
}

.dbChannelList {
    margin: 0;
    margin-right: 3px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

.dbChannelList::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

.dbChannelList:hover::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(32, 34, 37);
}

.dbChannelList ul{
    margin: 0;
    margin-right: 3px;
    padding: 0;
}

.dbChannelListItem {
    margin: 3px 0px 3px 0px;
    padding: 0;
    list-style-type: none;
    height: 48px;
}

.dbChannel, .dbSelectedChannel {
    margin: 0;
    margin-left: 12px;
    padding: 0;
    border-radius: 5px;
    height: 100%;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgb(114, 118, 125);
}

.dbSelectedChannel {
    background-color: rgb(57, 60, 67);
}


.dbChannelListItem:hover .dbChannel{
    background-color: rgb(52, 55, 60);
}

.dbChannelIcon {
    margin: 0;
    padding: 0;
    width: 51px;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.dbChannelName {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 500;
}

.dbSelectedChannel .dbChannelName {
    color: white;
}

.dbChannel:hover .dbChannelName {
    color:rgb(220, 221, 222);
}

.dbUserInfo {
    margin: 0;
    margin-top: auto;
    padding: 0;
    width: 100%;
    background-color: rgb(41, 43, 47);
    height: 80px;
    border-top: 3px solid rgb(54, 55, 59);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    flex-shrink: 0;
}

.dbUserImg {
    margin: 0;
    padding: 0;
    width: 72px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
   
}

.dbUserImg img {
    margin: 11px;
    padding: 0;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    background-color: wheat;
}

.dbUsername {
    margin: 0;
    padding: 0;
    font-size: 1.25rem;
    font-weight: 700;
}

.dbMessagesCol {
    margin: 0;
    padding: 0;
    background-color: rgb(54, 57, 63);
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
}

.dbCurrentChannel {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    font-weight: 500;
}

.dbCurrentChannelIcon {
    margin-left: 20px;
    margin-right: 10px;
    padding: 0;
    width: 51px;
    color: rgb(114, 118, 125);
    font-size: 2.75rem;
    font-weight: 500;
    text-align: center;
}

.dbCurrentChannelName {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 500;
    white-space: nowrap;
}

.dbChannelDesc {
    margin: 0;
    margin-left: 20px;
    padding: 5px 0px 5px 10px;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 500;
    border-left: 2px solid rgb(66, 69, 74);
    color: rgb(185, 185, 190);
    white-space:nowrap;
}

.dbMsgList {
    margin: 0;
    margin-right: 6px;
    padding: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.dbMsgList::-webkit-scrollbar {
    width: 12px;
    background-color: rgb(46, 51, 56);
    border-radius: 12px;
}

.dbMsgList::-webkit-scrollbar-thumb {
    border-radius: 12px;
    background-color: rgb(32, 34, 37);
}

.dbMsgList ul {
    margin: 0;
    padding: 0;
    margin-top: auto;
}

.dbMsgListItem {
    margin: 0;
    margin-bottom: 25px;
    margin-right: 6px;
    padding: 0;
    list-style-type: none;
    height: fit-content;
    display: flex;
    flex-flow: row nowrap;
}

.dbMsgListItem:hover {
    background-color: rgb(50, 53, 59);
}

.dbMessage {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    min-height: 72px;
    max-width: fit-content;
}

.dbMsgImg {
    margin: 0;
    padding: 0;
    width: 108px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    flex-shrink: 0;
}

.dbMsgImg img {
    margin: 0px;
    padding: 0px;
    width: 61px;
    height: 61px;
    border-radius: 100%;
    overflow: hidden;
    background-color: wheat;
}

.dbMsgContentWrap {
    margin: 0;
    margin-right: 72px;
    padding: 0;
    display: flex;
    flex-flow: column nowrap;
}

.dbMsgInfo {
    margin: 0;
    padding: 0;
    height: 34px;
    display: flex;
    flex-flow: row nowrap;
}

.dbMsgName {
    margin: 0;
    margin-top: auto;
    padding: 0;
    font-size: 1.5rem;
    font-weight: 500;
}

.dbMsgTime {
    margin: 0;
    margin-top: auto;
    margin-left: 15px;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: rgb(114, 118, 125);
    line-height: 1.7rem;
    white-space: nowrap;
}

.dbMsgContent {
    margin: 0;
    margin-top: 3px;
    padding: 0;
    width: 100%;
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(220, 221, 222);
    word-break: break-all;
}

.dbMsgMention {
    color: rgb(114, 137, 218)
}

.dbMsgMention:hover {
    text-decoration: underline;
}


.dbMsgTooltip {
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    flex-grow: 1;
  }
  
.dbMsgTooltip .dbMsgTooltiptext {
    visibility: hidden;
    width: max-content;
    height: 50px;
    margin: 0;
    margin-right: 15px;
    padding: 0;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: center;
    box-shadow: 0 0 5px rgb(37, 37, 37);
    background-color: rgb(50, 53, 59);
}

.dbMsgListItem:hover .dbMsgTooltiptext {
    visibility: visible;
}

.dbMsgTooltiptext img {
    margin: auto;
    padding: 0;
    width: 50px;
    height: 50px;
    background-color: rgb(50, 53, 59);
    transition: background-color 0.2s ease;
    border-radius: 6px;
}

.dbMsgTooltiptext img:hover {
    background-color: rgb(58, 62, 68);
}

.dbSubmitMsg {
    margin: 0 25px 36px 25px;
    padding: 0;
    margin-bottom: 36px;
    height: 66px;
    background-color: rgb(64, 68, 75);
    border-radius: 8px;
    flex-shrink: 0;
    display: flex;
    flex-flow: row nowrap;
}

.dbSubmitMedia {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.dbSubmitMediaIcon {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: rgb(185, 187, 190);
    color: rgb(64, 68, 75);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
}

.dbSubmitMediaIcon:hover {
    background-color: rgb(220, 221, 222);
}

.dbSubmitForm {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.dbSubmitForm input {
    background-color: transparent;
    border: none;
    font-family: whitney;
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(220, 221, 222);
    width: 98%;
}

.dbSubmitForm input::placeholder {
    color: rgb(114, 118, 125);
}

.dbSubmitForm input:focus {
    border: none;
    outline: none;
}

.dbUsersCol {
    margin: 0;
    padding: 0;
    width: 360px;
    background-color: rgb(47, 49, 54);
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
}

.dbUsersCol .dbColHeader {
    background-color: rgb(54, 57, 63);
}

.dbUserList {
    margin: 0;
    margin-right: 3px;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
}

.dbUserList::-webkit-scrollbar {
    width: 6px;
    border-radius: 6px;
}

.dbUserList:hover::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: rgb(32, 34, 37);
}

.dbUserList ul{
    margin: 0;
    margin-right: 3px;
    padding: 0;
}

.dbUserListItem {
    margin: 3px 0px 3px 0px;
    padding: 0;
    list-style-type: none;
    height: 63px;
}

.dbUser {
    margin: 0;
    margin-left: 12px;
    padding: 0;
    border-radius: 5px;
    height: 100%;
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: rgb(114, 118, 125);
}

.dbUserListItem:hover .dbUser{
    background-color: rgb(52, 55, 60);
}

.dbUser .dbUserImg {
    margin: 0;
    padding: 0;
    width: 78px;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.dbUser .dbUserImg img {
    margin: 11px;
    padding: 0;
    width: 48px;
    height: 48px;
}

.dbUserListName {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(142, 146, 151);
}